<div class="grid grid-cols-5 h-screen">
  <div class="col-span-4 grid grid-cols-8 grid-rows-8">
    <div class="row-start-1 col-start-2 col-span-6 grid place-content-center select-none">
      <div class="flex gap-3">
        <button class="rounded-full bg-blue-300 hover:bg-blue-500 duration-300 w-20 shadow-lg h-10 mb-3"
          (click)="fullMove(0,-1)">⇈</button>
        <button class="rounded-full bg-blue-300 hover:bg-blue-500 duration-300 w-20 shadow-lg h-10"
          (click)="move(0,-1)">↑</button>
        <button class="rounded-full bg-blue-300 hover:bg-blue-500 duration-300 w-20 shadow-lg h-10 mb-3"
          (click)="maxMove(0,-1)">⭱</button>
      </div>
    </div>
    <div class="row-start-8 col-start-2 col-span-6 grid place-content-center select-none">
      <div class="flex gap-3">
        <button class="rounded-full bg-blue-300 hover:bg-blue-500 duration-300 w-20 shadow-lg h-10"
          (click)="fullMove(0,1)">⇊</button>
        <button class="rounded-full bg-blue-300 hover:bg-blue-500 duration-300 w-20 shadow-lg h-10 mb-3"
          (click)="move(0,1)">↓</button>
        <button class="rounded-full bg-blue-300 hover:bg-blue-500 duration-300 w-20 shadow-lg h-10"
          (click)="maxMove(0,1)">⭳</button>
      </div>
    </div>
    <div class="row-start-2 col-start-1 row-span-6 grid place-content-center select-none">
      <div class="flex flex-col gap-3">
        <button class="rounded-full bg-blue-300 hover:bg-blue-500 duration-300 w-10 shadow-lg h-20 mr-3"
          (click)="fullMove(-1,0)">⇇</button>
        <button class="rounded-full bg-blue-300 hover:bg-blue-500 duration-300 w-10 shadow-lg h-20"
          (click)="move(-1,0)">←</button>
        <button class="rounded-full bg-blue-300 hover:bg-blue-500 duration-300 w-10 shadow-lg h-20 mr-3"
          (click)="maxMove(-1,0)">⭰</button>
      </div>
    </div>
    <div class="row-start-2 col-start-8 row-span-6 grid place-content-center select-none">
      <div class="flex flex-col gap-3">
        <button class="rounded-full bg-blue-300 hover:bg-blue-500 duration-300 w-10 shadow-lg h-20"
          (click)="fullMove(1,0)">⇉</button>
        <button class="rounded-full bg-blue-300 hover:bg-blue-500 duration-300 w-10 shadow-lg h-20 mr-3"
          (click)="move(1,0)">→</button>
        <button class="rounded-full bg-blue-300 hover:bg-blue-500 duration-300 w-10 shadow-lg h-20"
          (click)="maxMove(1,0)">⭲</button>
      </div>
    </div>
    <div class="row-start-1 col-start-8 grid place-content-center select-none">
      <div class="flex flex-wrap gap-3">
        <button class="rounded-full bg-blue-300 hover:bg-blue-500 duration-300 w-20 shadow-lg h-20"
          (click)="selectAll()">All</button>
        <button class="rounded-full bg-blue-300 hover:bg-blue-500 duration-300 w-20 shadow-lg h-20"
          (click)="clearAll()">None</button>
      </div>
    </div>
    <div class="row-start-8 col-start-8 grid place-content-center select-none">
      <div class="flex flex-wrap gap-3">
        <button class="rounded-full bg-blue-300 hover:bg-blue-500 duration-300 w-20 shadow-lg h-20"
          (click)="clearAssignment()">Clear</button>
        <button class="rounded-full bg-blue-300 hover:bg-blue-500 duration-300 w-20 shadow-lg h-20"
          (click)="exportCurrentMap()">Export</button>
      </div>
    </div>
    <dts-select-container class="row-start-2 col-start-2 row-span-6 col-span-6 !grid gap-3 grid-cols-10 "
      [(selectedItems)]="selectedTiles">
      <div *ngFor="let tile of (filteredTiles$ | async)" [dtsSelectItem]="tile"
        [ngStyle]="{'background-color': tile.tile != null? tile.tile.color + '80' : null}"
        [ngClass]="{'assigned':tile.tile != null}" class="rounded border-2 border-dashed grid place-content-center p-3">
        <span class="select-none font-mono">{{tile.x | number: '2.0'}},{{tile.y | number: '2.0'}}</span>
      </div>
    </dts-select-container>
  </div>
  <div class="col-span-1 flex flex-col bg-gray-200 rounded-tl-xl border-l-8 border-t-8 border-blue-300 select-none">

    <div class="h-4/6 m-2 mr-0" *ngIf="(currentMap$ | async) as map">
      <details open class="rounded-tl-xl p-2 border-4 border-r-0 border-blue-300">
        <summary class="font-bold font-mono text-xl cursor-pointer">Maps</summary>
        <div class="flex gap-3 justify-around mt-2">
          <button class="rounded-full bg-blue-300 hover:bg-blue-500 duration-300 w-20 shadow-lg h-10"
            (click)="createNewMap()">NEW</button>
          <button class="rounded-full bg-blue-300 hover:bg-blue-500 duration-300 w-20 shadow-lg h-10"
            (click)="loadSavedMap()">LOAD</button>
        </div>
      </details>

      <details open class="p-2 border-l-4 border-blue-300">
        <summary class="font-bold font-mono text-xl cursor-pointer">Current: {{currentMap.name}}</summary>
        <div class="grid grid-cols-2">
          <label class="block col-start-1 p-2">
            <span class="block font-mono font-bold text-slate-600">Size Horizontal: {{map.info.width}}</span>
          </label>
          <label class="block col-start-2 p-2">
            <span class="block font-mono font-bold text-slate-600">Size Vertical: {{map.info.height}}</span>
          </label>
        </div>

        <div class="flex gap-3 mt-2">
          <button class="rounded-full bg-blue-300 hover:bg-blue-500 duration-300 p-2 shadow-lg h-10"
            (click)="changeSize()">CHANGE SIZE</button>
          <button class="rounded-full bg-blue-300 hover:bg-blue-500 duration-300 p-2 shadow-lg h-10"
            (click)="resetMap()">RESET MAP</button>
        </div>
      </details>

      <details open class="rounded-bl-xl p-2 border-4 border-r-0 border-blue-300">
        <summary class="font-bold font-mono text-xl cursor-pointer">Tiles</summary>

        <div class="flex gap-3 flex-wrap justify-around">
          <button *ngFor="let tile of tileOptions"
            class="rounded-full p-2 h-10 w-1/5 text-ellipsis text-white font-bold overflow-hidden"
            (click)="assignTile(tile)" [ngStyle]="{'background': tile.color}">{{tile.name}}</button>
        </div>
      </details>
    </div>

    <canvas #canvas [width]="10" [height]="10" class="bg-white border-2 border-dashed border-black h-2/6 m-2"></canvas>
  </div>
</div>
<ng-container *ngIf="saveTimer$ | async"></ng-container>