<div class="grid grid-cols-5 h-screen">
  <div class="col-span-4 grid grid-cols-6 grid-rows-6">
    <div class="row-start-1 col-start-2 col-span-4 grid place-content-center">
      <button class="rounded-full bg-blue-300 hover:bg-blue-500 duration-300 w-20 shadow-lg h-10 mb-3"
        (click)="maxMove(0,-1)">⇈</button>
      <button class="rounded-full bg-blue-300 hover:bg-blue-500 duration-300 w-20 shadow-lg h-10"
        (click)="move(0,-1)">↑</button>
    </div>
    <div class="row-start-6 col-start-2 col-span-4 grid place-content-center">
      <button class="rounded-full bg-blue-300 hover:bg-blue-500 duration-300 w-20 shadow-lg h-10 mb-3"
        (click)="move(0,1)">↓</button>
      <button class="rounded-full bg-blue-300 hover:bg-blue-500 duration-300 w-20 shadow-lg h-10"
        (click)="maxMove(0,1)">⇊</button>
    </div>
    <div class="row-start-2 col-start-1 row-span-4 grid place-content-center">
      <div>
        <button class="rounded-full bg-blue-300 hover:bg-blue-500 duration-300 w-10 shadow-lg h-20 mr-3"
          (click)="maxMove(-1,0)">⇇</button>
        <button class="rounded-full bg-blue-300 hover:bg-blue-500 duration-300 w-10 shadow-lg h-20"
          (click)="move(-1,0)">←</button>
      </div>
    </div>
    <div class="row-start-2 col-start-6 row-span-4 grid place-content-center">
      <div>
        <button class="rounded-full bg-blue-300 hover:bg-blue-500 duration-300 w-10 shadow-lg h-20 mr-3"
          (click)="move(1,0)">→</button>
        <button class="rounded-full bg-blue-300 hover:bg-blue-500 duration-300 w-10 shadow-lg h-20"
          (click)="maxMove(1,0)">⇉</button>
      </div>
    </div>
    <div class="row-start-2 col-start-2 row-span-4 col-span-4 grid gap-3 grid-cols-10">
      <div *ngFor="let tile of visibleTiles" class="border rounded border-blue-400 shadow-lg grid place-content-center">
        <span>{{tile.x}}, {{tile.y}}</span>
      </div>
      <!-- <dts-select-container #container="dts-select-container" [(selectedItems)]="selectedTiles" (select)="log($event)">
        <div [dtsSelectItem]="tile" *ngFor="let tile of tiles" class="w-96 h-96 border rounded border-gray-500">
          {{tile}}
        </div>
      </dts-select-container> -->
    </div>
  </div>
  <div class="col-span-1">
    dashboard
  </div>
</div>